@font-face {
  font-family: muli-regular;
  src: url(../fonts/Muli-Regular.ttf);
}
@font-face {
  font-family: muli-semibold;
  src: url(../fonts/Muli-SemiBold.ttf);
}
@font-face {
  font-family: muli-bold;
  src: url(../fonts/Muli-Bold.ttf);
}
@font-face {
  font-family: muli-extrabold;
  src: url(../fonts/Muli-ExtraBold.ttf);
}
@font-face {
  font-family: gilroy-medium;
  src: url(../fonts/Gilroy-Medium.ttf);
}
