.home-page {

  // filter start
  .filter {
    .filter-wrapper {
      @media (min-width: 1199px) {
        margin-top: -60px;
      }

      .blur {
        backdrop-filter: blur(5px);

        .filter-content {
          background-color: #fff;
          border-radius: 10px;
        }
      }

      .rounded-3 {
        border-radius: var(--bs-border-radius-lg) !important;
      }


    }

    .nav-pills {
      .nav-link {
        font-family: muli-bold;
        color: #000;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-transform: uppercase;
        margin-right: 7px;

        @media (max-width: 991px) {
          background-color: #999999;
          border-color: transparent;
          color: #fff;
          margin-right: 3px;
          font-size: 13px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
      background-color: #61C38A;
    }

    .tab-content {
      @media (max-width: 991px) {
        background: #61C38A;
        width: calc(100% + 2rem);
        padding: 1rem;
        margin-left: -1rem;
        margin-bottom: -1rem;
      }

      .centered-icon {
        transform: translateY(-50%) !important;
        top: 50% !important;
        left: 0 !important;
      }

      .form-control {
        display: block;
        height: 58px;

        @media(max-width: 1199px) {
          height: 45px;
        }
      }

      .form-label {
        font-family: muli-bold;
        font-size: 14px;
        color: #000;
      }

      .filter-submit-btn {
        background-color: #1D6059;
        font-family: muli-bold;
        color: #fff;
      }
    }

  }

  // End of filter 


  // clients-experience section start
  .clients-experience {
    padding: 0 0 60px 0;
    margin-top: -5%;

    .text-content {
      @media (min-width: 992px) {
        margin-top: -15%;
      }

      .title {
        font-size: 62px;

        @media (min-width: 1400px) {
          font-size: 72px;
        }
      }

      .title-description {
        color: #9b9b9b;
      }

      .title-mobile {
        font-family: muli-bold;
      }

      .items {
        padding: 1.5rem;

        @media (max-width: 767px) {
          padding-left: 30px;
        }

        img {
          @media (max-width: 767px) {
            width: 30px;
          }
        }

        h5 {
          font-family: muli-bold;

          @media (max-width: 767px) {
            font-size: 16px;
          }
        }

        p {
          @media (max-width: 767px) {
            font-size: 12px;
            padding-left: calc(30px + 0.5rem);
          }
        }
      }
    }
  }

  // End of clients-experience section 


  // top-travel-destinations start
  .top-travel-destinations {
    padding: 60px 0;

    .title {
      font-family: muli-bold;
      color: #000;

      @media (min-width: 1200px) {
        font-size: 50px;
      }

      @media (min-width: 1600px) {
        font-size: 60px;
      }
    }

    .travel-card {
      position: relative;
      border-radius: 20px;

      @media(max-width:767px) {
        &:hover {
          box-shadow: 0px 0px 20px 3px #61C38A;
        }
      }

      &::before {
        content: '';
        width: 100%;
        height: 50%;
        background: linear-gradient(0deg, #000, transparent);
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .card-title {
        font-family: gilroy-medium;

        @media (min-width: 1600px) {
          font-size: 24px;
        }
      }

      .card-btn {
        background: #61c38a;
        color: #fff;
        border-radius: 0;
        font-family: muli-semibold;

        @media (min-width: 1600px) {
          font-size: 20px;
        }

        &:hover {
          background: #61c38ae9;
        }
      }
    }


    .load-more-btn {
      background: #61c38a;
      color: #fff;
      border-radius: 0;
      font-family: muli-semibold;

      @media (min-width: 1600px) {
        font-size: 20px;
      }

      &:hover {
        background: #61c38ae9;
      }
    }
  }

  // End of top-travel-destinations 


  // get-the-mobile-app start
  .get-the-mobile-app {
    padding: 60px 0;
    margin: 120px 0;

    @media (max-width: 1199px) {
      padding: 40px 0;
      margin: 80px 0;
    }

    @media (max-width: 767px) {
      padding: 20px 0;
    }

    .app-img {
      transform: translateY(-50%) !important;
      top: 50% !important;
      right: 0 !important;

      @media (max-width: 1599px) {
        width: 50%;
      }

      @media (max-width: 991px) {
        width: 60%;
      }

      @media (max-width: 575px) {
        width: 65%;
      }
    }

    .text-content {
      .title {
        font-family: muli-extrabold;
      }

      ul {
        li {
          &::before {
            content: '✓';
          }
        }
      }

      .download-app-btn {
        max-width: 180px;

        @media (max-width: 1199px) {
          max-width: 120px;
        }

        @media (max-width: 767px) {
          max-width: 40px;
        }
      }

      @media (max-width: 991px) {
        .title {
          font-size: 15px;
        }

        p,
        a,
        li {
          font-size: 8px;
        }
      }

      @media (min-width: 1600px) {
        .title {
          font-size: 50px;
        }

        p,
        a,
        li {
          font-size: 20px;
        }
      }
    }
  }

  // End of get-the-mobile-app


  // subscribe
  .subscribe {
    padding: 60px 0;

    .subscribe-content {
      padding: 80px 20px;
      background-color: rgba(#61C38A, .20);
      border-radius: 120px 20px 20px 20px;

      .title {
        color: #5E6282;
        font-family: muli-semibold;
        margin-bottom: 80px;

        @media (max-width: 767px) {
          font-size: 15px;
          margin-bottom: 40px;
        }
      }

      .form-control {
        padding: 30px 20px 30px 40px;

        @media (max-width: 767px) {
          padding: 5px 5px 5px 40px;
          border-radius: 50px;
        }
      }

      .btn {
        background-color: #61C38A;
        color: #fff;
        font-family: muli-bold;

        @media (max-width: 767px) {
          border-radius: 50px;
        }
      }
    }
  }

  // end subscribe
}